<!DOCTYPE html>
<html>
  <head>
    <title>JonaBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "/javascripts/ckeditor/ckeditor.js" %>
  </head>
  <body>


    <%= render  "layouts/navigation" %>
    <div class="cotainer-fluid">


     <%= yield %>
     <!--<p class="notice"><%= notice %></p>
     <p class="alert"><%= alert %></p> -->
   </div>
  </body>
</html>
